SECRET_KEY=
NAME=
USER=
PASSWORD=
HOST=
DATABASE_PORT=

DOMAIN=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=
CELERY_TASK_TRACK_STARTED=
CELERY_TASK_TIME_LIMIT=

TELEGRAM_BOT_TOKEN=