
SECRET_KEY=django-insecure-@d%6ohjgpp=5q3=9$g@c%-griptislay)+li(=#36+)5a3!_zy

DEBUG=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

STRIPE_API_KEY=
DOMAIN=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=


EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

TELEGRAM_BOT_TOKEN=